{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <button id="printheader" onclick="window.location='{% url 'clock_card:clock_entry' %}'"type="button" class="btn btn-warning glyphicon glyphicon-plus event"> Clock Now</button>
    <p></p>
    <div class="jumbotron" id="myjumbotron">
      <p id="total_hours_worked">Total Hours: {{ time_clocked }}</p>
      <hr>
      {% for items in display_filter %}
        {% if items.clock_io == "In" %}
          <img src="{{ items.map_url }}" alt="">
          <p></p>
          <p id="registrationform">Type of work: {{ items.work_st }}</p>
          <p id="clock_in">Location clocked in: {{ items.address }}</p>
          <span id="clock_in"> {{ items.clock_io}}, {{ items.date }}</span>
          <p></p>
        {% else %}
        <hr>
        <p id="hours_worked">Hours Worked: {{ items.hours_worked }}</p>
        {% if items.work_st == "Travel" %}
          <img src="{{ items.map_url }}" alt="">
          <p></p>
        {% endif %}
        <span id="clock_out"> {{ items.clock_io}}, {{ items.date }}</span>
        <p></p>
        <p id="clock_out">Location clocked out: {{ items.address }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <script>
    $("#clockMenu").css("background-color", "rgba(48, 150, 150, .95)");
  </script>
  {% endblock %}
