{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <img src="/static/images/LOGO.jpg" alt="" id="printlogo">
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      <h3>EMPLOYEE MONTHLY TIME SHEET</h3>
      <p id="registrationform">Employee Name: {{ mate_name }}</p>
      <p id="registrationform">Employee Surname: {{ mate_surname }}</p>
      <p id="registrationform">Employee No: {{ employee_no }}</p>
      <p id="registrationform">Job Title: {{ job_title }}</p>
      <p id="registrationform">Department: {{ department }}</p>
      <p id="registrationform">For Month: {{ this_month }}</p>
      <p id="registrationform">Total Hours: {{ time_clocked }}</p>
      <table id="app_table">
        <tr>
          <th id="app_table">Name</th>
          <th id="app_table">Date</th>
          <th id="app_table">Address</th>
          <th id="app_table">Work</th>
          <th id="app_table">Clock</th>
          <th id="app_table">Hours</th>
          <th id="map_position">Location</th>
        </tr>
      {% for items in myClockCard %}
        <tr>
          <td id="app_table">{{ items.name }}</td>
          <td id="app_table">{{ items.date }}</td>
          <td id="app_table">{{ items.address }}</td>
          <td id="app_table">{{ items.work_st }}</td>
          <td id="app_table">{{ items.clock_io }}</td>
          <td id="app_table">{{ items.hours_worked }}</td>
          {% if items.clock_io == "In" %}
            <td id="map_position"><img src="{{ items.map_url }}" alt=""></td>
          {% else %}
            {% if items.work_st == "Travel" %}
              <td id="map_position"><img src="{{ items.map_url }}" alt=""></td>
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
      </table>
      <p></p>
      <p id="printlogo">Approved by:___________________</p>
      <p></p>
      <p id="printlogo">Signed:________________________</p>
      <p></p>
      <a  href="{% url 'time_sheets:teamlist' %}" class="btn btn-warning glyphicon glyphicon-step-backward" role="button" id="backbtn"> Back</a>
    </div>
  </div>
  <script>
    $("#timeSheetMenu").css("background-color", "rgba(48, 150, 150, .95)");
  </script>
  {% endblock %}
