<!DOCTYPE html>
{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      {% if registered %}
    <h2>Thank you, user registration complete!</h2>
    <p>Please signin with your Username and password.</p>
  {% else %}
    <h2>Please register a user here!</h2>
    <h4>Complete the following form:</h4>
    <form id="myform" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p id="registrationform">Username: {{user_form.username}}</p>
      <p id="registrationform">Name: {{user_form.first_name}}</p>
      <p id="registrationform">Surname: {{user_form.last_name}}</p>
      <p id="registrationform">Email: {{user_form.email}}</p>
      <p id="registrationform">Password: {{user_form.password}}</p>
      <p id="registrationform">Employee Number: {{profile_form.employee_no}}</p>
      <p id="registrationform">Cell Phone Number: {{profile_form.cell_phone}}</p>
      <p id="registrationform">Photo(Optional): {{profile_form.profile_pic}}</p>
      <input type="submit" class="btn btn-primary" value="Register">
    </form>
  {% endif %}
    </div>
  </div>
  <script src="{% static "JS/nuwelede.js" %}"></script>
  {% endblock %}
