<!DOCTYPE html>
{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      <form action="{% url 'password_change' %}" method="POST">
      {% csrf_token %}
      <p id="registrationform">Old Password: <input type="password" name="old_password"></p>
      <p id="registrationform">New Password: <input type="password" name="new_password1"></p>
      <ul>
        <li>Your password may not contain any personal information.</li>
        <li>Must be longer than 8 characters.</li>
        <li>Can not contain just numbers.</li>
        <li>Can not be a common password ex. - password</li>
      </ul>
      <p id="registrationform">Repeat Password: <input type="password" name="new_password2"></p>
      <p><input type="submit" class="btn btn-danger" value="Submit Change"></p>
      <a href="{% url 'accounts:user_list' %}" class="btn btn-primary glyphicon glyphicon-step-backward" role="button"> Cancel</a>
    </form>
    </div>
  </div>
  <script src="{% static "JS/login.js" %}"></script>
  {% endblock %}
