{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p id="registrationform">Username: {{form.username}}</p>
        <p id="registrationform">Name: {{form.first_name}}</p>
        <p id="registrationform">Surname: {{form.last_name}}</p>
        <p id="registrationform">Email: {{form.email}}</p>
        <input type="submit" class="btn btn-warning" value="Update">
        <a href="{% url 'accounts:user_list' %}" class="btn btn-primary glyphicon glyphicon-step-backward" role="button"> Cancel</a>
      </form>
    </div>
  </div>
  <script src="{% static "JS/lede.js" %}"></script>
  {% endblock %}
